.subPage {
  min-height: 75vh;
  max-height: fit-content;
  background-color: #f3f4f7;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutMe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.link {
  color: rgb(0, 122, 255);
}

.aboutMeContent {
  height: 100%;
}

.imgContainer {
  width: 350px;
  height: 600px;
  z-index: 9;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 1em;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  color: #d35fb7;
}

.description {
  text-align: center;
  padding: 4rem;
  line-height: 1.5;
  font-size: 1.5rem;
  width: 50%;
}

@media only screen and (max-width: 799px) {
  .imgContainer {
    width: 90%;
    padding: 0.5rem;
    object-fit: cover;
  }
}
