.navContainer,
.shrunkNavContainer {
  height: 120px;
  background-color: inherit;
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
  transition: 0.15s;
  z-index: 100;
}

.shrunkNavContainer {
  height: 80px;
  background-color: white;
  border-bottom: 1px solid #ced3dc;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  color: #d35fb7;
  font-size: 20px;
  z-index: 100;
}

.navMenu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: fit-content;
}

.navMenu li {
  float: left;
  padding: 0.5em;
}

.navMenu a,
.navMenu a:hover {
  cursor: pointer;
  padding: 0.5em;
  border-radius: 10px;
}

.navMenu a:hover,
.navMenuActive {
  background-color: #d35fb7;
  color: #fffff2;
}
