.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  max-height: 200px;
  min-height: 200px;
  transform: translateY(0);
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px 0px;
}

.card {
  border-color: #222;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
  transform: translateY(-10%);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.linkTitle,
.twitterTitle,
.linkedInTitle,
.researchGateTitle {
  margin-top: 1em;
  font-size: 1.5em;
}

.twitterTitle {
  color: #1da1f2;
}

.linkedInTitle {
  color: #0077b5;
}

.researchGateTitle {
  color: #00ccbb;
}

@media only screen and (max-width: 800px) {
  .card:hover {
    transform: translateY(0);
    color: black;
  }
}
